In [1]:
import numpy as np
import pandas as pd

In [2]:
logistic = pd.read_csv('C://Users//Lenovo//Downloads//Assignment//Logistic Regression//bank_data.csv')

In [3]:
logistic.head()

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,johousemaid,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y
0,58,0,2143,1,0,261,1,-1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,44,0,29,1,0,151,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,33,0,2,1,1,76,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,47,0,1506,1,0,92,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33,0,1,0,0,198,1,-1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
logistic.shape

(45211, 32)

In [5]:
logistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45211 non-null  int64
 1   default          45211 non-null  int64
 2   balance          45211 non-null  int64
 3   housing          45211 non-null  int64
 4   loan             45211 non-null  int64
 5   duration         45211 non-null  int64
 6   campaign         45211 non-null  int64
 7   pdays            45211 non-null  int64
 8   previous         45211 non-null  int64
 9   poutfailure      45211 non-null  int64
 10  poutother        45211 non-null  int64
 11  poutsuccess      45211 non-null  int64
 12  poutunknown      45211 non-null  int64
 13  con_cellular     45211 non-null  int64
 14  con_telephone    45211 non-null  int64
 15  con_unknown      45211 non-null  int64
 16  divorced         45211 non-null  int64
 17  married          45211 non-null  int64
 18  single           45211 non-null  int64
 19  joadmin.         45211 non-null  int64
 20  joblue.collar    45211 non-null  int64
 21  joentrepreneur   45211 non-null  int64
 22  johousemaid      45211 non-null  int64
 23  jomanagement     45211 non-null  int64
 24  joretired        45211 non-null  int64
 25  joself.employed  45211 non-null  int64
 26  joservices       45211 non-null  int64
 27  jostudent        45211 non-null  int64
 28  jotechnician     45211 non-null  int64
 29  jounemployed     45211 non-null  int64
 30  jounknown        45211 non-null  int64
 31  y                45211 non-null  int64
dtypes: int64(32)
memory usage: 11.0 MB

In [6]:
#No null values

In [7]:
X = logistic.iloc[:,0:31]
Y = logistic.iloc[:,31]
Y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [8]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X,Y)

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [9]:
y_pred = model.predict(X)

In [10]:
y_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [11]:
y_pred_df = pd.DataFrame({'actual':Y,'Predicted':model.predict(X)})

In [12]:
y_pred_df

       actual  Predicted
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0
...       ...        ...
45206       1          1
45207       1          0
45208       1          1
45209       0          0
45210       0          0

[45211 rows x 2 columns]

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y,y_pred)
print(confusion_matrix)

[[39165   757]
 [ 4112  1177]]

In [14]:
((39165+1177)/(39165+757+4112+1177))*100

89.23049700294176

In [15]:
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     39922
           1       0.61      0.22      0.33      5289

    accuracy                           0.89     45211
   macro avg       0.76      0.60      0.63     45211
weighted avg       0.87      0.89      0.87     45211